[Unit]
Description=OpenStack Event API service
After=syslog.target network.target

[Service]
Type=simple
User=panko
ExecStart=/usr/bin/panko-api --logfile /var/log/panko/api.log
Restart=on-failure

[Install]
WantedBy=multi-user.target

